label {
    display:block;
    margin: 15px;
}

input {
    margin:5px;
}

fieldset {
    margin:10px;
    width:27%;
    border:1px solid;
    border-radius:4px;
}

.btn-reset {
    display:block;
    margin:10px;
}
